body {
  background-color:black;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  background: url(background.svg) fixed;
}

.numBox {
  display: inline-block;
  height: 35px;
  vertical-align: text-bottom;
  font-size: 20px;
  width: 70px;
  font-family: "open sans";
  border: 3px solid lightgray;
  border-radius: 50px;
  text-align: center;
}

.numBox:hover {
 border-color: slategray;
 transition: all 0.5s ease; 
}

.numBox:focus {
 outline: none; 
}

.centeredText {
  text-align: center;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

#header-image {
  background-color: black;
  padding: 30px;
  border-radius: 30px; 
}

.heading {
  padding: 30px;
  font-size:40px;
  border-radius:40px;
  font-family: 'Montserrat';
  background-color:#f3f3f3;
  color:black;
}

.centeredImage {
    display: block;
    margin: auto;
}

h2 {
 font-size: 1em; 
}
